.container {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px;
    flex: 1 0 auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    border-bottom: 2px solid red;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
}

  .userItem {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .button {
    background-color: red;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  
.button:hover {
    opacity: 0.9;
}

.button:focus {
    outline: none;
}

/* Different colors for the buttons */
.button:nth-child(1) {
    background-color: #55df3f; /* Blue for View */
}

.button:nth-child(2) {
    background-color: #e67e22; /* Orange for Edit */
}

.button:nth-child(3) {
    background-color: #fb5643; /* Red for Delete */
}

